<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Surround Sound</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet">
</head>
<body>
  <div class="centerBox">
    <h2>Personalize the song title for your collection.</h2>
      <form action="/soundtrack/<%= fave._id %>?_method=PUT" class="formz" method="POST">
        <input type="text" name="editObj" value="<%= fave.name %>">
        <input type="submit" value="Update">
      </form>
  </div>
</body>
</html>
