<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Surround Sound</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>THIS IS THE SOUNDTRACK/MAIN EJS PAGE</h1>

    <h2>tunes</h2>
      <form action="/soundtrack/search" method="get">
        <input type="text" name="cinema" placeholder="Enter the film">
        <input type="submit" value="Find the soundtrack">
      </form>

</body>
</html>
