*{
  font-family: 'Cormorant', serif;
}

body{
  background-image: url(/filmwheels.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-size: 48px;
}
.first{
  color: #000000;
}

.centerBox{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: rgba(0,0,0,.5);
  height: 80vh;
  width: 100%;
  text-align: center;
  align-items: center;
  font-weight: bolder;
  color: #ffffff;
  margin: 15vh auto;
/*  border-radius: 50%;
*/}

#ostBox{
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: justify;
}

#trackContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: left;
  align-items: left;
  text-align: left;
  height: auto;
  width: 60%;
  overflow: auto;
  margin-top: 140px;
}

#faveContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: left;
  text-align: left;
  height: auto;
  width: 30%;
  overflow: auto;
  margin-top: 140px;
}

#topBox{
  position: absolute;
}

.btn{
  background-color: #1C0800;
  margin-top: 7vh;
  width: 500px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}

#logOut{
  margin: 80px auto;
}

#header{
  margin: 10vh;
  font-size: 24px;
}

a{
  color: #eeeeee;
  text-decoration: none;
}

#welcomeNav{
  color: #eeeeee;
  align-items: right;
}

.preview{
  color: #6ACEFF;
}

.deet{
  margin: 0 auto;

}

.subhs{
  border-bottom: 2px solid #ffffff;
}

.sub{
  position: absolute;
}
.box{

}

.formz{

}

.preview{

}

#profileBox{

}


.instru{

}


#favesContainer{

}

#searchContainer{

}


#searchForm{

}

#searchFormPost{

}

/*#searchAgain{
  text-decoration-line: none;
  color: #aaaaaa;
}

#again{
  height: 20px;
  width: 300px;
  border: 10px solid #333333;
  text-align: center;
}*/
