*{
  font-family: helvetica;
  background-color: #000000;
  color: #FFFFFF;
}

.formz{

}

#flexContainer{

}

.box{

}

.preview{

}

#profileBox{

}

.btn{

}

#welcomeBox{
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  color: #eeeeee;
}

.instru{

}

#welcomeNav{
  color: #eeeeee;
  align-items: right;
}

#favesContainer{

}

#searchContainer{

}

a{

}






a{
  color: #aaaaaa;
}

#searchForm{

}

#searchFormPost{

}

.preview{

}
.formz{

}
.instru{
  font-size: 12px;
}


.flexContainer{
/*  display: flex;
  flex-direction: row;
*/}

.box{
margin: 10px 5px;

}

.artistName{
  color: lawngreen;
}

.trackDetail{
  font-weight: bolder;
}

#searchAgain{
  text-decoration-line: none;
  color: #aaaaaa;
}

#again{
  height: 20px;
  width: 300px;
  border: 10px solid #333333;
  background-color: #333333;
  text-align: center;
}
