<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Surround Sound </title>
    <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet">

</head>
  <body>
    <div id="profileBox" class="centerBox">
      <h1>Welcome, <%= user.username %>.</h1>
        <button class="btn">
          <a href="/soundtrack">Let's get started.</a>
        </button>
        <form action="/auth?_method=DELETE" class="formz" id="logOut" method="POST">
          <input type="submit" name="cinema" value="Logout">
        </form>
    </div>
  </body>
</html>
