<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Surround Sound</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet">
</head>
  <body class="first">
    <div id="welcomeBox" class="centerBox">
      <h1>surround sound</h1>
        <br>
          <header id="header">
            <p class ="instru">Find that really good soundtrack to that really good movie you saw three weeks ago. Or, any soundtrack to any movie. Save your favorite tunes to your personal collection. Sign up below to begin searching.</p>
              <nav id=welcomeNav>
                <a href="/signup"><button class="btn">Sign Up</button></a>
                <a href="/login"><button class="btn">Log In</button></a>
                <br>
              </nav>
          </header>
    </div>
  </body>
</html>
