<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Surround Sound </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="homeFlex">
      <form action="/path" id="searchForm" method="get">
        <input type="text" name="cinema" placeholder="Enter a movie title here">
        <input type="submit" value="Find the soundtrack">
      </form>
    </div>
</body>
</html>
