<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Surround Sound</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>surround sound</h1>
    <form action="/search" id="searchForm" method="get">
      <input type="text" name="cinema" placeholder="Enter a movie title here">
      <input type="submit" value="Find the soundtrack">
    </form>
    <h2>tunes</h2>
      <% tracks.forEach((one) => {%>
        <div class="filmParts">
          <p class ="trackName"><%= one.name %></p>
          <p class ="trackName"><%= one.artist.tunefind_url %></p>
          <p class ="trackName"><%= one.artist.name %></p>
          <a class ="preview" href="<%= one.preview_url %>">Preview song</a>
        </div>
      <% }) %>
</body>
</html>
